{% extends 'base.html' %}




{% block content %}
<body class="text-center">
    <div class="container">

        <form method="Post" class="form-register" style= "color:rgb(12, 2, 2)" >
            {{form.hidden_tag()}}
            <img class="mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo_qltN9qKheXvoktIB8ficr9cQ63_-85l7Q&usqp=CAU" alt="">
            <h1 class="h3 mb-3 font-weight-normal"> Please Create Your Account </h1>
            <br>
            {{ form.username.label() }}
            {{form.username(class="form-control",placeholder="User Name")}}

            {{ form.email_address.label() }}
            {{form.email_address(class="form-control",placeholder="Email Address")}}

            {{ form.password1.label() }}
            {{form.password1(class="form-control",placeholder="Password")}}

            {{ form.password2.label() }}
            {{form.password2(class="form-control",placeholder="Confirm Password")}}
            
            <br>

            <div class="checkbox mb-3">
                <h6> Already have an account?</h6>
                <a class="btn btn-sm btn-secondary" href="{{url_for('login_page')}}">Login </a>
            </div>
            {{form.submit(class="btn btn-block btn-primary")}}

        </form>
    </div>
</body>
{% endblock %}